header {
  height: 70px;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  font-size: var(--fs-body-mobile);
  font-weight: var(--font-weight);
  margin-bottom: 2rem;

  /* Flexbox */
  display: flex;
  flex-direction: row;
}

.arrow {
  flex-grow: 0;
}

.text-edit-profile {
  flex-grow: 1;
  text-align: center;
}

main {
  gap: 2rem;
}

section {
  width: 280px;
}

.profile-picture {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  text-align: center;
}

.profile-circle {
  text-align: center;
  position: relative;
}

.profile-circle > button {
  width: 71px;

  position: absolute;
  right: 40px;
  bottom: -20px;

  cursor: pointer;
}

.profile-picture > h2 {
  font-weight: var(--font-weight);
}

.profile-picture > p {
  color: var(--text-muted);
}

.personal-info > h2,
.account-settings > h2 {
  font-weight: var(--font-weight);
  border-left: solid var(--backgroundcolor-green) 3px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

form {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-container {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  padding: 1rem;

  /* Flexbox */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  /* Flexbox */
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

input::placeholder {
  color: var(--text-muted);
}

select {
  text-align: center;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  cursor: pointer;
}

.save-button {
  position: fixed;
  bottom: 60px;

  background: linear-gradient(#7bc985, #99dda2);
  color: var(--text-white);
  width: 280px;
  padding: 1rem;
  border-radius: var(--border-radius);
  font-weight: var(--font-weight);
  box-shadow: var(--box-shadow);

  cursor: pointer;

  /* Flexbox */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.save-button:hover {
  background: linear-gradient(#99dda2, #7bc985);
}

.save-button:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8rem;
}
