/* Variabelen */

:root {
    /* Signature green */
    --backgroundcolor-green: #99dda2;
    --backgroundcolor-header-green: #7eb785;
    --backgroundcolor-dark-green: #507855;

    /* Blue Theme */
    --backgroundcolor-blue: #99C7DD;
    --backgroundcolor-dark-blue: #185975;

    /* Pink Theme */
    --backgroundcolor-pink: #DD99C2;
    --backgroundcolor-dark-pink: #8b4a6c;

    /* Yellow Theme */
    --backgroundcolor-yellow: #F1E08B;
    --backgroundcolor-dark-yellow: #c5ab13;

    /* Fonts */
    --font-signature: "Averia Serif Libre", serif;
    --font-body: "Inter", sans-serif;

    --text-black: #000000;
    --text-white: #ffffff;
    --text-muted: #828282;

    /* Mobile */
    --fs-body-mobile: 14px;  /* 14–18px */
    --fs-heading-mobile: 24px; /* 24–32px */
    --fs-big-title-mobile: 64px;

    /* Desktop */
    --fs-body-desktop: 14px; /* 14–16px */
    --fs-heading-desktop: 32px; /* 32–48px */
    
    /* Border */
    --border-color-input: #ccc;
    --border-radius: 7px;

    /* Button */
    --button-color-grey: #EEEEEE;
}

body {
    min-height: 100vh;
    padding-bottom: 40px;
    font-family: var(--font-body);
    font-size: var(--fs-body-mobile);
    color: var(--text-black);

    /* Flexbox */
    display: flex;
    flex-direction: column;
}

header,
footer {
  flex-grow: 0;
}
main {
  flex-grow: 1;
}

header,
main,
footer {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > .menu-icons {

  width: 100vmin;

  
  /* Flex-Box */
  display: flex;
  gap: 35px;
  justify-content: center;
  align-content: center;
  background-color: white;
  position: fixed;
  bottom: 0;  
}

footer > .menu-icons > a{
  padding: 6px 13px 4px 13px;
}


footer > .menu-icons > a > p{
  display: none;
}

.logoDesktop{
    display: none;
}

/* Oppassen bij mergen, hier kunnen grote conflicten kopen (●'◡'●) */

@media only screen and (min-width:1024px) {

body{
        /* Grid  Dit kan technisch gezien ook bij de general*/ 
        display: grid;
        grid-template-columns: 256px auto;
        grid-template-rows: 100px auto;
        gap: 0px;
        padding-bottom: 0px;

        
    }

.logoDesktop{
        display: block;
        color: black;

        grid-column: 1;
        grid-row: 1;

        justify-self: center;
      align-self: center;
    }

main{
  padding-top: 20px;
  grid-column: 2;
  grid-row: 2;
  gap: 12px;
  background-color: #E8F5EA;
}

footer > .menu-icons > a{
  display: flex;
  align-items: center;

}
footer > .menu-icons > a > p{

  display: block;
  
}

header {
  background-color: var(--backgroundcolor-green);
  color: var(--text-white);
  grid-column: 2/3;
  grid-row: 1;
  height: 140px;
  border-bottom: 0px;

}
header > h2{
        font-weight: bold;
        grid-column: 2;
    }
footer{
        padding-top: 50px;
        grid-column: 1;
        grid-row: 2/3;

        border-radius: 0px 50px 0px 0px;
        background-color: var();
    }

    footer > .menu-icons{
        flex-direction: column;
        position: relative;
        align-items: center;
        width: 100%;
        
    }

    footer > .menu-icons > a{
        width: 200px;
        padding: 20px;
        border-radius: 10px;

        /* Flex-Box */
        display: flex;
        align-items: center;
        gap: 16px;
    }

  header > h3{
        display: none;
    }
    header > h2{
        font-weight: bold;
        grid-column: 1/3;
    }
}