.green-box {
    background-color: var(--backgroundcolor-green);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-box h2 {
    font-size: 16px;
    font-weight: 500;
}

.table-headers {
    width: 93%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 11px;
}

.rewards-list {
    width: 93%;
    margin: 15px 0 50px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.reward {
    display: grid;
    grid-template-columns: 65px 1fr 58px;
    gap: 14px;
    border-bottom: 0.2px solid var(--backgroundcolor-green);
    align-items: center;
}

.brand-image img {
    width: 70px;
    border-radius: 8px;
}

.description .label {
    font-size: 11px;
    color: gray;
}

.description .brand {
    font-size: 13px;
    margin-bottom: 2px;
}

.description .offer {
    font-size: 11px;
    margin-bottom: 2px;
}

.description .claim {
    font-size: 12px;
    margin-bottom: 5px;
}

.points {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
}

.points img {
    width: 7px;
}

.white-icon {
    display: none;
}

@media screen and (min-width: 1024px) {

footer > .menu-icons > a:nth-child(3){
      background-color: var(--backgroundcolor-green);
      color: white;
  }
.black-icon{
display: none;
}

.white-icon {
display: block;
}

header{
    justify-content: start;
    align-content: start;

    justify-items: start;
    align-items: start;
    height: 100px;
}

header > .green-box > h2{
    font-size: var(--fs-heading-desktop);
    font-weight: bold;
}
.green-box{
    align-self: flex-start;

    justify-content: start;
    align-content: center;
    height: 140px;
    padding-left: 2rem;
}



}