body {
    background-color: var(--backgroundcolor);
    color: var(--text-white);
    gap: 2rem;
}
header {
    padding-top: 3rem;

    /* flexbox */
    display: flex;
    gap: 2rem;
}

h1 {
    font-family: var(--font-signature);
    font-size: var(--fs-big-title-mobile);
    line-height: 3.5rem;
}

img {
      width: 120px;
}

.support-text {
    margin-bottom: 3rem;
    background-color: var(--backgroundcolor-dark);
    padding: 8px 16px;
    border-radius: 20px;
}

main > section {
    border: 1px solid black;
}

main section div {
    border: 1px solid yellow;
}