<footer>
    <div class="menu-icons">
        <a href="/menu"><img src="/assets/icons/home.png" alt="Huis-icoon"><p>Thuis</p></a>
        <a href="/dailychallenges"><img src="/assets/icons/discover.png" alt="Ontdek-icoon" class="black-icon"><p>Verken</p></a>
        <a href="/rewards"><img src="/assets/icons/rewards.png" alt="Beloning-icoon"><p>Rewards</p></a>
        <a href="/profilepage"><img src="/assets/icons/person.png" alt="Persoon-icoon"><p>Profiel</p></a>
        </div>
    </footer>
  </body>
</html>
