<%- include("partials/header") %>
<link rel="stylesheet" href="/css/achievements.css">
</head>

<body>
    <img src="./assets/Logo/Logo.png" class="logoDesktop">
    <header>
        <div class="header">
            <a href="/profilepage">
                <img src="assets/icons/left-arrow.png" alt="Pijl">
            </a>
            <h2>Jouw Prestaties</h2>
        </div> 
    </header>
    <main>
        <div class="achievements">
            <div class="achievement"><a href="">
                <img class="location" src="assets/placeholders/location2.png" alt="Locatie">
                <div class="overlay"></div>
                <div class="description">
                    <p>Ga alleen uit eten</p>
                    <div class="points">
                        <img src="assets/icons/trophy-icon.png" alt="Trofee-icoon">
                        <span>100</span>
                    </div>
                </div>
                <img class="completed" src="assets/icons/completed.png" alt="Voltooid-icoon">
                <!-- Dit zijn placeholders! Inladen met javascript/typescript -->  
            </a>
            </div>

            <div class="achievement"><a href="">
                <img class="location" src="assets/placeholders/location2.png" alt="Locatie">
                <div class="overlay"></div>
                <div class="description">
                    <p>Ga alleen uit eten</p>
                    <div class="points">
                        <img src="assets/icons/trophy-icon.png" alt="Trofee-icoon">
                        <span>100</span>
                    </div>
                </div>
                <img class="completed" src="assets/icons/completed.png" alt="Voltooid-icoon">
                <!-- Dit zijn placeholders! Inladen met javascript/typescript -->  
            </a>
            </div>

            <div class="achievement"><a href="">
                <img class="location" src="assets/placeholders/location2.png" alt="Locatie">
                <div class="overlay"></div>
                <div class="description">
                    <p>Ga alleen uit eten</p>
                    <div class="points">
                        <img src="assets/icons/trophy-icon.png" alt="Trofee-icoon">
                        <span>100</span>
                    </div>
                </div>
                <img class="completed" src="assets/icons/completed.png" alt="Voltooid-icoon">
                <!-- Dit zijn placeholders! Inladen met javascript/typescript -->  
            </a>
            </div>

            <div class="achievement"><a href="">
                <img class="location" src="assets/placeholders/location2.png" alt="Locatie">
                <div class="overlay"></div>
                <div class="description">
                    <p>Ga alleen uit eten</p>
                    <div class="points">
                        <img src="assets/icons/trophy-icon.png" alt="Trofee-icoon">
                        <span>100</span>
                    </div>
                </div>
                <img class="completed" src="assets/icons/completed.png" alt="Voltooid-icoon">
                <!-- Dit zijn placeholders! Inladen met javascript/typescript -->  
            </a>
            </div>

            <div class="achievement"><a href="">
                <img class="location" src="assets/placeholders/location2.png" alt="Locatie">
                <div class="overlay"></div>
                <div class="description">
                    <p>Ga alleen uit eten</p>
                    <div class="points">
                        <img src="assets/icons/trophy-icon.png" alt="Trofee-icoon">
                        <span>100</span>
                    </div>
                </div>
                <img class="completed" src="assets/icons/completed.png" alt="Voltooid-icoon">
                <!-- Dit zijn placeholders! Inladen met javascript/typescript -->  
            </a>
            </div>

            <div class="achievement"><a href="">
                <img class="location" src="assets/placeholders/location2.png" alt="Locatie">
                <div class="overlay"></div>
                <div class="description">
                    <p>Ga alleen uit eten</p>
                    <div class="points">
                        <img src="assets/icons/trophy-icon.png" alt="Trofee-icoon">
                        <span>100</span>
                    </div>
                </div>
                <img class="completed" src="assets/icons/completed.png" alt="Voltooid-icoon">
                <!-- Dit zijn placeholders! Inladen met javascript/typescript -->  
            </a>
            </div>

            <div class="achievement"><a href="">
                <img class="location" src="assets/placeholders/location2.png" alt="Locatie">
                <div class="overlay"></div>
                <div class="description">
                    <p>Ga alleen uit eten</p>
                    <div class="points">
                        <img src="assets/icons/trophy-icon.png" alt="Trofee-icoon">
                        <span>100</span>
                    </div>
                </div>
                <img class="completed" src="assets/icons/completed.png" alt="Voltooid-icoon">
                <!-- Dit zijn placeholders! Inladen met javascript/typescript -->  
            </a>
            </div>

            <div class="achievement"><a href="">
                <img class="location" src="assets/placeholders/location2.png" alt="Locatie">
                <div class="overlay"></div>
                <div class="description">
                    <p>Ga alleen uit eten</p>
                    <div class="points">
                        <img src="assets/icons/trophy-icon.png" alt="Trofee-icoon">
                        <span>100</span>
                    </div>
                </div>
                <img class="completed" src="assets/icons/completed.png" alt="Voltooid-icoon">
                <!-- Dit zijn placeholders! Inladen met javascript/typescript -->  
            </a>
            </div>

            <div class="achievement"><a href="">
                <img class="location" src="assets/placeholders/location2.png" alt="Locatie">
                <div class="overlay"></div>
                <div class="description">
                    <p>Ga alleen uit eten</p>
                    <div class="points">
                        <img src="assets/icons/trophy-icon.png" alt="Trofee-icoon">
                        <span>100</span>
                    </div>
                </div>
                <img class="completed" src="assets/icons/completed.png" alt="Voltooid-icoon">
                <!-- Dit zijn placeholders! Inladen met javascript/typescript -->  
            </a>
            </div>

            <div class="achievement"><a href="">
                <img class="location" src="assets/placeholders/location2.png" alt="Locatie">
                <div class="overlay"></div>
                <div class="description">
                    <p>Ga alleen uit eten</p>
                    <div class="points">
                        <img src="assets/icons/trophy-icon.png" alt="Trofee-icoon">
                        <span>100</span>
                    </div>
                </div>
                <img class="completed" src="assets/icons/completed.png" alt="Voltooid-icoon">
                <!-- Dit zijn placeholders! Inladen met javascript/typescript -->  
            </a>
            </div>

            <div class="achievement"><a href="">
                <img class="location" src="assets/placeholders/location2.png" alt="Locatie">
                <div class="overlay"></div>
                <div class="description">
                    <p>Ga alleen uit eten</p>
                    <div class="points">
                        <img src="assets/icons/trophy-icon.png" alt="Trofee-icoon">
                        <span>100</span>
                    </div>
                </div>
                <img class="completed" src="assets/icons/completed.png" alt="Voltooid-icoon">
                <!-- Dit zijn placeholders! Inladen met javascript/typescript -->  
            </a>
            </div>

            <div class="achievement"><a href="">
                <img class="location" src="assets/placeholders/location2.png" alt="Locatie">
                <div class="overlay"></div>
                <div class="description">
                    <p>Ga alleen uit eten</p>
                    <div class="points">
                        <img src="assets/icons/trophy-icon.png" alt="Trofee-icoon">
                        <span>100</span>
                    </div>
                </div>
                <img class="completed" src="assets/icons/completed.png" alt="Voltooid-icoon">
                <!-- Dit zijn placeholders! Inladen met javascript/typescript -->  
            </a>
            </div>
        </div>
    </main>
