<%- include("partials/header") %>
<link rel="stylesheet" href="/css/current-challenge.css">
</head>

<body>
        <img src="./assets/Logo/Logo.png" class="logoDesktop">
    <header>
        <h3>«</h3>
        <h2 class="collection-title">Jouw Collectie</h2>
        <p class="collection-desc">Jouw actieve uitdaging en groeimogelijkheden</p>

    </header>
    <main>
        <div class="collection-start">
        </div>
        <section class="active-challenges">
            <h2 class="title-page">Actieve uitdaging</h2>

            <a href="/detailpage">
            <div class="challengeCard">
                <div class="image-challenge">
                    <div class="difficulity-pill">
                        <h3>Medium</h3>
                        <h3>Outside</h3>
                </div></div>
                <div class="info-Card">
                    <h2 class="title-challenge">Ga naar stadhuis en ontmoet 10 vreemdelingen</h2>
                    <div class="extra-InfoCard">
                   </div>
            
                <section class="view-details">
                    <div class="track">
                    <h3>Bekijk details</h3>
                    <p>Volg je voortgang</p>
                    </div>
                    <img src="/assets/icons/arrow-right.png" alt="">
                </section>

                </div>
            </div>
            </a>
        </section>

        <section class="premium-challenges">
            <h2>Ontgrendel meer uitdagingen</h2>
            <p>Ga meerdere uitdagingen tegelijk aan</p>

            <div class="premium-container">
                <div class="badge-premium">PREMIUM</div>
                <h2>Ga meerdere uitdagingen aan</h2>
                <p>Ontgrendel de mogelijkheid om meerdere uitdagingen tegelijk aan te gaan en sneller te groeien.</p>
                <ul>
                    <li><p><img src="/assets/icons/white-checkmark.png"> Ga onbeperkte uitdagingen aan</p></li>
                    <li><p><img src="/assets/icons/white-checkmark.png"> Aangepaste uitdagingen</p></li>
                    <li><p><img src="/assets/icons/white-checkmark.png"> Houd meerdere doelen tegelijk bij</p></li>
                    <li><p><img src="/assets/icons/white-checkmark.png"> Exclusieve premium content</p></li>
                </ul>

                <h1>€4.99 <span>/ maand</span></h1>
                
                <button class="card-button">Upgrade nu</button>
                <p class="trial">7 dagen gratis proefperiode • Annuleer op elk moment</p>

            </div>
        </section>


    </main>