<%- include("partials/header", { css: 'generator.css' }) %>
<main>
    <section class="generator-content">
        <div class="top-Part">
            <img src="/assets/icons/Generator.png">
            <h2>Ontdek jouw uitdagingspad</h2>
            <p>Beantwoord een paar vragen over je comfortniveau, en wij stellen een persoonlijk uitdagingsplan voor je op.</p>
        </div>
        <div class="info-Generator">
            <h2>Wat je krijgt: </h2>
            <ul>
                <li>Een persoonlijk uitdagingsplan</li>
                <li>Activiteiten afgestemd op jouw comfortniveau</li>
                <li>Groeimogelijkheden op gebieden die voor u belangrijk zijn</li>
            </ul>
        </div>
    </section>
    <section class="generator-buttons">
        <a href="/generator2"><button class="generator-Button">Start</button></a>
        <a href="/menu"><p class="skip-Question">Vragen Overslaan</p></a>
    </section>
</main>
<script src="/js/generator.js"></script>