<div class="container">

      <header>
        <div class="title">
          <h1>un<br>(comfy)</h1>
        </div>
      </header>
      <main>
  
        <div class="form-div">
          <section>
            <h2>Maak een account aan</h2>
            <p>Vul je e-mailadres in om je aan te melden voor deze app</p>
          </section>
    
          <form>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="email@domain.com"
              required
              class="input-field"
            />
            <button type="submit" class="continue-button">Doorgaan</button>
          </form>
    
          <p>or</p>
    
          <section class="social-login">
            <div class="social-login-button">
              <img src="./assets/icons/icon-google.png" alt="google-icon" />
              <p>Doorgaan met Google</p>
            </div>
            <div class="social-login-button">
              <img src="./assets/icons/icon-apple.png" alt="apple-icon" />
              <p>Doorgaan met Apple</p>
            </div>
          </section>
    
          <section class="terms">
            <p>
              Door op ‘Doorgaan’ te klikken, gaat u akkoord met onze
              <a href="terms-of-service.html">Gebruiksvoorwaarden</a> and <a href="privacy-policy.html">Privacybeleid</a> 
              <!-- gelinkt naar bestaande pagina's -->
            </p>
          </section>
        </div>
      </main>
    </div>
