<%- include("partials/header", { css: 'login.css', includeDesktopLayout: false }) %>

<main class="container">
  <header>
    <div class="title">
      <h1>un<br>(comfy)</h1>
    </div>
  </header>

  <div class="form-div">
    <section>
      <h2>Log in</h2>
      <p>Vul je inloggegevens in om je aan te melden</p>
    </section>
    <% if (error) { %>
      <p class="login-error"><%= error %></p>
    <% } %>

    <form method="post" action="/login">
      <input type="text" name="username" id="username" placeholder="Vul je gebruikersnaam in" required class="input-field" />
      <input type="password" name="password" id="password" placeholder="Vul je wachtwoord in" required class="input-field" />
      <button type="submit" class="continue-button">Doorgaan</button>
    </form>

    <p class="login-switch">
      Heb je geen account? <a href="/register" style="color: darkgray">Registeer</a>
    </p>

    <section class="terms">
      <p>
        Door op 'Doorgaan' te klikken, gaat u akkoord met onze
        <a href="termsofservice">Gebruiksvoorwaarden</a> and <a href="privacypolicy">Privacybeleid</a>
      </p>
    </section>
  </div>
</main>