<body>
    <img src="./assets/Logo/Logo.png" class="logoDesktop">
    <header>
        <div class="header">
            <div class="profile">
                <div class="personal">
                    <img class="profile-picture" src="assets/placeholders/helena.png" alt="Profielfoto">
                    <h2>Helena Hills</h2> 
                </div>
                <div class="dropdown">
                    <button id="menu-toggle">
                        <img class="menu-icon" src="assets/icons/menu-icon.png" alt="Menu-icoon">
                    </button>
                    <div id="menu" class="menu hidden">
                        <a href="">Profiel</a>
                        <!-- <a href="avatar.html">Avatar</a> -->
                        <a href="color-theme.html">Thema</a>
                        <a href="subscription.html">Neem Premium</a>
                        <a href="tutorial.html">Tutorial</a>
                        <a href="terms-of-service.html">Gebruiksvoorwaarden</a>
                        <a href="privacy-policy.html">Privacyverklaring</a>
                        <a href="settings.html">Instellingen</a>
                        <a href="login.html">Uitloggen</a>
                    </div>
                </div>
                <!-- Dit zijn placeholders! Inladen met javascript/typescript -->  
            </div>
        </div>
    </header>

    <main>
        <div class="points-card">
            <p>Jouw ComfyPunten</p>
            <h1>1,230</h1>
            <!-- Dit zijn placeholders! Inladen met javascript/typescript -->  
        </div>

        <div class="tabs">
            <button id="timeline-button" class="timeline-button active">
                <img id="timeline-icon" src="assets/icons/icon-timeline.png" alt="Klok-icoon">
                <p>Tijdlijn</p>
            </button>
            <button id="gallery-button" class="gallery-button">
                <img id="gallery-icon" src="assets/icons/icon-gallery-gray.png" alt="Galerij-icoon">
                <p>Galerij</p>
            </button>
        </div>

        <div class="section-header">
            <h3>Recente Prestaties</h3>
            <a href="achievements.html">Bekijk Alle</a>
        </div>

        <div id="achievements" class="achievements">
            <div class="achievement"><a href="">
                <img class="location" src="assets/placeholders/location2.png" alt="Locatie">
                <div class="overlay"></div>
                <div class="description">
                    <p>Ga alleen uit eten</p>
                    <div class="points">
                        <img src="assets/icons/trophy-icon.png" alt="Trofee-icoon">
                        <span>100</span>
                    </div>
                </div>
                <img class="completed" src="assets/icons/completed.png" alt="Voltooid-icoon">
                <!-- Dit zijn placeholders! Inladen met javascript/typescript -->  
            </a>
            </div>

            <div class="achievement"><a href="">
                <img class="location" src="assets/placeholders/location2.png" alt="Locatie">
                <div class="overlay"></div>
                <div class="description">
                    <p>Ga alleen uit eten</p>
                    <div class="points">
                        <img src="assets/icons/trophy-icon.png" alt="Trofee-icoon">
                        <span>100</span>
                    </div>
                </div>
                <img class="completed" src="assets/icons/completed.png" alt="Voltooid-icoon">
                <!-- Dit zijn placeholders! Inladen met javascript/typescript -->  
            </a>
            </div>

            <div class="achievement"><a href="">
                <img class="location" src="assets/placeholders/location2.png" alt="Locatie">
                <div class="overlay"></div>
                <div class="description">
                    <p>Ga alleen uit eten</p>
                    <div class="points">
                        <img src="assets/icons/trophy-icon.png" alt="Trofee-icoon">
                        <span>100</span>
                    </div>
                </div>
                <img class="completed" src="assets/icons/completed.png" alt="Voltooid-icoon">
                <!-- Dit zijn placeholders! Inladen met javascript/typescript -->  
            </a>
            </div>
        </div>
    </main>
