<%- include("partials/header") %>
<link rel="stylesheet" href="/css/subscription.css">
</head>

<body>
    <main>
      <section class="intro">
        <h1>un<br />(comfy)</h1>
        <img src="./assets/comfort-animals/sad-frog-green.png" alt="sad-frog" />
        <p class="support-text">Steun ons om meer functies te ontgrendelen</p>
      </section>
      <section class="subscription-options">
        <section class="desktop-choose-plan">
          <h2>Kies uw abonnement</h2>
          <p>Ontgrendel premiumfuncties en steun de ontwikkeling</p>
        </section>
        <div class="sub-popular">
          <div class="tag-popular">
            <p>most popular</p>
          </div>

          <div class="plan-header">
            <div class="plan-left">
              <h2>12 maanden</h2>
              <p class="pricing">
                <del>$ 95,96</del>
                <span class="new-price">$ 47.99</span>
              </p>
            </div>

            <p class="price-month">$ 3,99/maand</p>
          </div>
        </div>

        <div class="plan-header">
          <div class="plan-left">
            <h2>3 maanden</h2>
            <p class="pricing">
              <span class="new-price">$ 23,99</span>
            </p>
          </div>

          <p class="price-month">$ 3,99/maand</p>
        </div>
        <a href="/menu" class="no-thanks-text">nee bedankt</a>
      </section>

      <section class="reviews-container">
        <h2 class="desktop-reviews-title">Wat onze gebruikers zeggen</h2>
        <div class="review">
          <img src="./assets/placeholders/jeffrey.png" alt="profile-picture" class="profile-picture">
          <h2>Sander Liekens </h2>
          <ul class="stars">
            <li>
              <img src="./assets/icons/star.png" alt="star" class="star-icon" />
            </li>
            <li>
              <img src="./assets/icons/star.png" alt="star" class="star-icon" />
            </li>
            <li>
              <img src="./assets/icons/star.png" alt="star" class="star-icon" />
            </li>
            <li>
              <img src="./assets/icons/star.png" alt="star" class="star-icon" />
            </li>
            <li>
              <img src="./assets/icons/star.png" alt="star" class="star-icon" />
            </li>
          </ul>
          <p>
            Uncomfy heeft mijn leven veranderd! Het heeft me geholpen mijn emoties te begrijpen en
            me elke dag gelukkiger te voelen. Ik ben zo dankbaar voor deze app!
          </p>
        </div>
        <div class="review">
          <img src="./assets/placeholders/anna.png" alt="profile-picture" class="profile-picture">
          <h2>Alexa Johnson </h2>
          <ul class="stars">
            <li>
              <img src="./assets/icons/star.png" alt="star" class="star-icon" />
            </li>
            <li>
              <img src="./assets/icons/star.png" alt="star" class="star-icon" />
            </li>
            <li>
              <img src="./assets/icons/star.png" alt="star" class="star-icon" />
            </li>
            <li>
              <img src="./assets/icons/star.png" alt="star" class="star-icon" />
            </li>
            <li>
              <img src="./assets/icons/star.png" alt="star" class="star-icon" />
            </li>
          </ul>
          <p>
            Dankzij deze app was het leuk en
            de moeite waard om uit mijn comfortzone te stappen. Ik heb zoveel over mezelf ontdekt! Een echte aanrader!
          </p>
        </div>
      </section>
    </main>
