<%- include("partials/header") %>
<link rel="stylesheet" href="/css/tutorial.css">
</head>

<body>

    <main>
        <section class="tutorial-content">

            <img src="./assets/tutorial/Part1.png" alt="uncomfyTutorial" class="img-tutorial">     
            <h2 class="title-tutorial"></h2>
            <p class="text-tutorial"></p>
            <div class="tutorial-circles">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <button type="submit" class="continue-button">Volgende ></button>
            <button type="submit" class="return-button">< Terug</button>
        </section>

    </main>
<script src="/js/tutorial.js"></script>