
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--backgroundcolor-green);
  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-screen > h1 {
  font-family: var(--font-signature);
  font-size: var(--fs-big-title-mobile);
  color: var(--text-white);
  line-height: 3.5rem;
}

.loading-screen > img {
  width: 120px;
  position: absolute;
  bottom: 0;
  left: 0;

  transform: translate(-100%, 100%) rotate(-25deg);
  animation: peekIn 0.8s ease-out forwards;

}

@keyframes peekIn {
  to {
    transform: translate(-20%, 30%) rotate(25deg);
  }
}



/* --- DESKTOP VERSION (min-width: 1024px) --- */

@media screen and (min-width: 1024px) {
  .loading-screen > h1 {
    font-size: var(--fs-big-title-desktop);
    line-height: 4.3rem;
  }
  .loading-screen > img {
    width: 220px;
  }
}